/* ERROR PAGE */
.error-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fafafa;
}

.error-container {
    text-align: center;
    padding: 20px;
}

.error-container h1 {
    font-size: 6rem;
    color: #ff6f91;
}

.error-container p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.error-img {
    width: 240px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
