name: Deploy to S3

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-secret-access-token: ${{ AWS_SECRET_ACCESS_TOKEN }}
          aws-region: ap-south-1

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --template-file ./Templates/CloudFormation/s3-static-website.yaml \
            --stack-name s3-website-stack \
            --parameter-overrides BucketName=${{ secrets.DOMAIN }} \
            --capabilities CAPABILITY_NAMED_IAM

      - name: Sync files to S3
        run: |
          aws s3 sync ./public s3://${{ secrets.BUCKET_NAME }} --delete