name: Terraform Apply (Prod firewall)

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Apply
        working-directory: ./Templates/Terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SECRET_ACCESS_TOKEN }}
          aws_region: ${{ vars.aws_region }}

    
          TF_VAR_zone_id: ${{ vars.ZONE_ID }}
          TF_VAR_root_content: ${{ vars.DOMAIN }}
          TF_VAR_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                       

        run: |
          terraform init
          terraform validate
          terraform plan
          terraform apply -auto-approve
