name: Create S3 

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SECRET_ACCESS_TOKEN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --template-file ./Templates/CloudFormation/s3-static-website.yaml \
            --stack-name s3-website-stack \
            --parameter-overrides BucketName=${{ secrets.DOMAIN }} \
            --capabilities CAPABILITY_NAMED_IAM

